#### If we have more frequent categories then we replace Nan values with a new category

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Housing.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])
df.head()

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000

In [3]:
def impute_nan(df,variable):
    df[variable+'_newfeature']=np.where(df[variable].isnull(),'UnKnown',df[variable])

In [4]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    impute_nan(df,feature)

In [5]:
df.head()

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_newfeature,FireplaceQu_newfeature,GarageType_newfeature
0,Gd,NaN,Attchd,208500,Gd,UnKnown,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd

In [10]:
df=df.drop(['BsmtQual','FireplaceQu','GarageType'],axis=1)

In [11]:
df.head()

   SalePrice BsmtQual_newfeature FireplaceQu_newfeature GarageType_newfeature
0     208500                  Gd                UnKnown                Attchd
1     181500                  Gd                     TA                Attchd
2     223500                  Gd                     TA                Attchd
3     140000                  TA                     Gd                Detchd
4     250000                  Gd                     TA                Attchd